go 1.23.4

use (
	./admin-video-service
	./alarm-service
	./diet-service
	./email-service
	./emotion-service
	./exercise-service
	./face-service
	./fcm-service
	./gateway
	./inquire-service
	./medicine-service
	./sleep-service
	./user-service
	./vocal-service
)
